body {
    background-color: #121212;
    /* Dark grey background */
    color: #E0E0E0;
    /* Light grey text */
    font-family: 'Courier New', Courier, monospace;
    /* font-family: "Raleway", sans-serif;  */
    margin: 0;
    padding: 0;
}

body.light-mode {
    background-color: #FFFFFF; /* White background */
    color: #000000; /* Black text */
}

a.custom-link {
    color: #807f81; /* A more visible color in light mode */
    text-decoration: underline; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
}

a.custom-link:hover {
    color: #7474f1; /* Darker blue on hover */
}

header {
    background-color: #1C1C1C;
    /* Dark grey background */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    /* Light grey border */
}

header h1.professional-font {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Josefin Sans', monospace;
    /* font-family: "Raleway", sans-serif; */
    font-weight: 700;
    /* Bold weight */
    font-size: 2.5em;
    color: #FFFFFF;
    /* White text */
}

header p {
    font-size: 1.5em;
    color: #E0E0E0;
    /* Light grey text */
    display: inline-block;
    /* Allow the <p> to occupy only the width of its content */
    white-space: nowrap;
    /* Ensure text does not wrap */
}

/* Light Theme for Header */
body.light-mode header {
    background-color: #F5F5F5; /* Light grey background */
    border-bottom: 1px solid #000000; /* Black border */
}

body.light-mode header h1.professional-font {
    color: #000000; /* Black text */
}

body.light-mode header p {
    color: #333333; /* Dark grey text */
}

nav {
    background-color: #1C1C1C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding-left: 100px;
    /* padding: 0; */
    display: flex;
    justify-content: center;
    margin: 0;
    flex-grow: 1; /* Allow ul to take up remaining space */
}

@media screen and (max-width: 600px) {
    nav ul {
        padding-left: 0;
        /* Remove left padding */
        justify-content: center;
        /* Center the items */
    }
    
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #E0E0E0;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
}

.daynight {
    margin-left: auto; /* Push the toggle button to the far right */
}


/* Light Theme for Navbar */
body.light-mode nav {
    background-color: #F5F5F5; /* Light grey background */
}

body.light-mode nav ul li a {
    color: #333333; /* Dark grey text */
}

body.light-mode nav ul li a:hover {
    color: #000000; /* Black text on hover */
}


/* theme toggle animation */
#checkbox {
    display: none;
}
.toggle {
    height: 40px; /* Reduced from 80px */
    width: 100px; /* Reduced from 200px */
    border-radius: 9999px;
    left: -25px;
    background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 5px #0000003d; /* Adjusted proportionally */
}
.mountains {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #1d7371;
    transition: all 0.5s ease-in-out;
    clip-path: polygon(
        0% 80%,
        25% 50%,
        40% 70%,
        60% 35%,
        65% 45%,
        80% 20%,
        100% 80%,
        100% 100%,
        0% 100%
    );
}
.cloud {
    height: 4px; /* Reduced from 8px */
    width: 9px; /* Reduced from 18px */
    border-radius: 9999px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 10%;
    filter: opacity(0.5);
}
.sea {
    height: 55px; /* Reduced from 200px */
    width: 150%; /* Reduced from 300% */
    border-radius: 50%;
    position: absolute;
    right: 50%;
    bottom: -250%; /* Adjusted proportionally */
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
    background: linear-gradient(
        to bottom,
        #3f75cc,
        #06063b,
        #06063b,
        #06063b,
        #06063b
    );
}
.sea::before {
    content: "";
    height: 12.5px; /* Reduced from 25px */
    width: 7.5px; /* Reduced from 15px */
    background-color: rgba(254, 254, 254, 0.34);
    filter: blur(5px);
    position: absolute;
    top: 2%;
    left: 43%;
}
.star {
    height: 1px; /* Reduced from 2px */
    width: 1px; /* Reduced from 2px */
    position: absolute;
    top: -50%;
    right: 15%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    filter: blur(0.8px);
    border-radius: 50%;
}
.star::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: -50%;
    right: 20px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}
.star::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}
.cloud::before {
    content: "";
    height: 5px; /* Reduced from 10px */
    width: 5px; /* Reduced from 10px */
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -50%;
    right: 50%;
    transform: translateX(50%);
}
#checkbox:checked + .toggle {
    background: linear-gradient(to bottom, #036daf, #003d63);
}
.toggle::before {
    content: "";
    height: 20px; /* Reduced from 40px */
    width: 20px; /* Reduced from 40px */
    position: absolute;
    top: 10%;
    right: 30%;
    border-radius: 50%;
    background-color: #ffd34d;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 7.5px #fef95fc3; /* Adjusted proportionally */
}
.toggle::after {
    content: "";
    height: 17.5px; /* Reduced from 35px */
    width: 17.5px; /* Reduced from 35px */
    position: absolute;
    top: 10%;
    left: -60%;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 5px #ffffff88; /* Adjusted proportionally */
}
#checkbox:checked + .toggle::before {
    transform: translateX(280%);
}
#checkbox:checked + .toggle::after {
    transform: translateX(480%);
}
#checkbox:checked + .toggle .mountains {
    background-color: #05021a;
    transform: translateY(100%);
}
#checkbox:checked + .toggle .sea {
    background-color: #05021a;
    bottom: -105%; /* Adjusted proportionally */
}
#checkbox:checked + .toggle .star {
    background-color: #fff; /* Ensure stars remain white */
    transform: rotate(10deg);
    top: 20%;
}
#checkbox:checked + .toggle .cloud {
    background-color: #f0f0f0; /* Change cloud color to a lighter shade */
}

@media (max-width: 600px) {
    .toggle {
        height: 30px; /* Smaller height for mobile */
        width: 80px; /* Smaller width for mobile */
        left: -10px; /* Adjusted position */
    }
    .toggle::before {
        height: 15px; /* Adjusted size for mobile */
        width: 15px; /* Adjusted size for mobile */
        right: 25%;
        box-shadow: 0 0 5px #fef95fc3; /* Adjusted shadow for mobile */
    }
    .toggle::after {
        height: 13.5px; /* Adjusted size for mobile */
        width: 13.5px; /* Adjusted size for mobile */
        box-shadow: 0 0 4px #ffffff88; /* Adjusted shadow for mobile */
    }
    .cloud {
        height: 3px; /* Adjusted size for mobile */
        width: 6px; /* Adjusted size for mobile */
    }
    .cloud::before {
        height: 3px; /* Adjusted size for mobile */
        width: 3px; /* Adjusted size for mobile */
    }
    .sea {
        height: 40px; /* Adjusted size for mobile */
        bottom: -200%; /* Adjusted position for mobile */
    }
    .sea::before {
        height: 10px; /* Adjusted size for mobile */
        width: 6px; /* Adjusted size for mobile */
    }
    .star {
        height: 0.75px; /* Adjusted size for mobile */
        width: 0.75px; /* Adjusted size for mobile */
    }
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    background-color: #1C1C1C;
    /* Dark grey background */
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    border: 1px solid #E0E0E0;
    /* Light grey border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Light Theme for Block */
body.light-mode .block {
    background-color: #F5F5F5; /* Light grey background */
    border: 1px solid #333333; /* Dark grey border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lighter shadow */
}

/* About Me Section */
#about {
    margin-bottom: 40px;
}

#about h2,
#about h3 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.education {
    margin-top: 20px;
}

.degree {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.degree .education-logo {
    width: 50px;
    /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.degree .details p {
    margin: 5px;
    color: #E0E0E0;
}

.degree .details p:first-child {
    font-weight: bold;
}

body.light-mode #about h2,
body.light-mode #about h3 {
    font-family: 'Courier New', Courier, monospace;
}

body.light-mode .degree .details p {
    color: #333333; /* Dark grey text */
}

.project {
    background-color: #2A2A2A;
    /* Darker grey for projects */
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    /* Light grey border */
}

.project-details {
    display: flex;
    align-items: center;
}

.project-image {
    width: 300px;
    /* Adjust image width */
    overflow: hidden;
    /* Ensure rounded corners */
    border-radius: 8px;
    /* Adjusted rounded corners */
}

.rounded-image {
    width: 100%;
    /* Ensure image fills container */
    display: block;
    /* Remove any spacing below image */
}

.project-text {
    flex: 1;
    /* Take remaining space */
    padding-left: 20px;
    /* Space between image and text */
}

.project-text h3 {
    /* font-family: 'Courier New', Courier, monospace; */
    color: #FFFFFF;
    /* Text color */
    font-size: 1.5em;
    /* Header font size */
    margin-bottom: 10px;
    /* Space below header */
}

.project-text p {
    color: #E0E0E0;
    /* Text color */
    font-size: 1em;
    /* Text font size */
    line-height: 1.6;
    /* Line height for readability */
}

.project-text h3.special-font {
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Josefin Sans', monospace; */
    font-size: 1.5em;
    /* Header font size */
    margin: 0 0 10px;
    /* Margin for the header */
}

.project-text h3 {
    font-size: 1.5em;
    /* Header font size */
    margin: 0 0 10px;
    /* Margin for the header */
}

.project-buttons {
    margin-top: 15px;
    /* Space above buttons */
}

.project-button {
    display: inline-block;
    background-color: #333;
    /* Dark background */
    color: #FFFFFF;
    /* White text */
    text-align: center;
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #666;
    /* Darker border */
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #555;
    /* Darker background on hover */
}

.button-icon {
    width: 20px;
    /* Adjust icon size */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 5px;
    /* Space between icon and text */
    vertical-align: middle;
    /* Align icon vertically */
}


.github-link {
    display: block;
    /* Ensure entire logo is clickable */
    margin-top: 10px;
    /* Space above GitHub logo */
}

.github-logo {
    width: 60px;
    /* Adjust logo size */
    height: auto;
    /* Maintain aspect ratio */
}

/* Light Theme for Project Section */
body.light-mode .project {
    background-color: #F5F5F5; /* Light grey background */
    border: 1px solid #333333; /* Dark grey border */
}

body.light-mode .project-text h3 {
    color: #000000; /* Black text */
}

body.light-mode .project-text p {
    color: #333333; /* Dark grey text */
}

body.light-mode .project-button {
    background-color: #DDDDDD; /* Light background */
    color: #000000; /* Black text */
    border: 1px solid #999999; /* Grey border */
}

body.light-mode .project-button:hover {
    background-color: #BBBBBB; /* Darker background on hover */
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    .project-details {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .project-text {
        padding-left: 0;
        /* Remove left padding */
        padding-top: 15px;
        /* Add top padding for spacing */
    }

    .project-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .project-button {
        margin-bottom: 10px;
        /* Space between buttons */
        margin-right: 0;
        /* Remove right margin */
    }
}

/* Add styles for Lichess card */
/* General styles */

#lichess-playing-card {
    background-color: #1C1C1C;
    /* Dark grey background */
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    border: 1px solid #E0E0E0;
    /* Light grey border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    position: relative;
    /* Ensure the block is the reference point for positioning */
}

#lichess-playing-card h2 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.lichess-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow wrapping of elements */
}

#lichess-board-container {
    flex: 1;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#lichess-board {
    width: 300px;
    /* Adjust size as needed */
    height: 300px;
    background-color: #F0D9B5;
    /* Light brown background to simulate a chess board */
    border: 2px solid #333;
    /* Dark border */
}

#chess-game-details {
    color: #E0E0E0;
    text-align: center;
    margin-bottom: 10px;
}

#chess-game-details p {
    color: #E0E0E0;
    margin: 5px 0;
}

#chess-game-details p:first-child {
    text-decoration: underline;
}

#chess-game-details p:nth-child(2),
#chess-game-details p:nth-child(3) {
    font-size: 0.7em;
    color: #a9a9a9;
}

#myBoard {
    width: 400px;
    padding-left: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

button {
    padding: 10px;
    background-color: #3a3a3a;
    color: #cfcfcf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}

#lichess-info-box {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lichess-status {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between dot, username, and button */
    margin-bottom: 10px;
    /* width: 50%; */
}

#lichess-ratings {
    display: flex;
    /* width: 50%; */
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 40px; */
    justify-content: space-between;
}

#lichess-status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    /* Default transparent */
}

#lichess-username {
    font-weight: bold;
    padding: 5px;
    background-color: #3a3a3a;
    border-radius: 5px;
}

#challenge-me {
    display: inline-block;
    padding: 5px 10px;
    background-color: #595757;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#challenge-me:hover {
    background-color: #282727;
}

.lichess-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between icon and text */
    margin: 0 10px 10px 10px;
}

.lichess-rating i {
    color: #FFD700;
    /* Gold color for icons */
    flex-wrap: wrap;
}

#plot-container {
    width: inherit;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: hidden;
    /* Disable vertical scrolling */
}

#plot {
    /* width: 70%; */
    height: 400px;
    /* Adjust height as needed */
    padding-bottom: 20px;
    /* padding-left: 10%; */
}


/* Light Theme for Lichess Playing Card */
body.light-mode #lichess-playing-card {
    background-color: #F5F5F5; /* Light grey background */
    border: 1px solid #333333; /* Dark grey border */
    color: #000000; /* Black text */
}

body.light-mode #chess-game-details {
    color: #333333; /* Dark grey text */
}

body.light-mode #chess-game-details p {
    color: #333333; /* Dark grey text */
}

body.light-mode button {
    background-color: #DDDDDD; /* Light background */
    color: #000000; /* Black text */
    border: 1px solid #999999; /* Grey border */
}

body.light-mode button:hover {
    background-color: #BBBBBB; /* Darker background on hover */
}

body.light-mode #lichess-info-box {
    background-color: #DDDDDD; /* Light background */
    color: #000000; /* Black text */
}

body.light-mode #lichess-username {
    background-color: #DDDDDD; /* Light background */
    color: #000000; /* Black text */
}

body.light-mode #challenge-me {
    background-color: #BBBBBB; /* Light grey background */
    color: #000000; /* Black text */
}

body.light-mode #challenge-me:hover {
    background-color: #999999; /* Darker grey background on hover */
}

body.light-mode .lichess-rating i {
    color: #333333; /* Dark grey color for icons */
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    #lichess-playing-card {
        background-color: #1C1C1C;
        /* Dark grey background */
        /* padding: 20px; */
        /* margin: 20px 0; */
        width: 95%;
        border: 1px solid #E0E0E0;
        /* Light grey border */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #FFFFFF;
        position: relative;
        /* Ensure the block is the reference point for positioning */
    }

    .lichess-content {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: center;
    }

    #lichess-board-container {
        flex: 1;
        padding-right: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #right-column {
        max-width: 100%;
    }

    #myBoard {
        width: 100%;
        /* Make the board responsive */
        max-width: 250px;
        /* Maximum width for the board */
        /* padding-left: 30px */
    }

    #plot-container {
        /* width: 400px;  */
        /* height: 520px; */
        /* width: 100%; */
        margin-bottom: 5px;
        /* Space below plot */
        overflow-x: auto;
        /* Enable horizontal scrolling */
        overflow-y: hidden;
        /* Disable vertical scrolling */
        margin-right: auto;
    }

    #lichess-info-box {
        position: relative;
        /* Make it relative for the new order */
        bottom: 0;
        /* Remove bottom positioning */
        right: 0;
        /* Remove right positioning */
        /* width: 100%; */
        /* Full width */
        margin-top: 5px;
        /* Space above info box */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 500px; */
    }


    .lichess-rating {
        min-width: 100px;
        /* Each rating takes almost half the width */
        justify-content: center;
        /* Center items */
        margin: 0 0px 10px 0px;
    }

    #lichess-status {
        display: flex;
        align-items: center;
        gap: 10px;
        /* Space between dot, username, and button */
        margin-bottom: 10px;
        /* width: 100%; */
    }

    #lichess-ratings {
        display: flex;
        width: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 40px; */
        justify-content: center;
    }


}




/* publications */


/* Default styles for desktop */
.publication-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.publication-image {
    flex: 0 0 auto;
    width: 180px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.rounded-image {
    border-radius: 8px;
}

.image-caption {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
    text-align: center;
}

.publication-text {
    flex: 1;
}

.publication-text p {
    color: #E0E0E0;
    /* Text color */
    font-size: 1em;
    /* Text font size */
    line-height: 1.6;
    /* Line height for readability */
    padding-left: 10px;
    /* Space between image and text */
}

.publication-text b {
    font-weight: bold;
}

.publication-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.publication-button {
    display: inline-block;
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #666;
    transition: background-color 0.3s ease;
}

.publication-button:hover {
    background-color: #555;
}

.button-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

/* Light Theme for Publication Text */
body.light-mode .publication-text p {
    color: #333333; /* Dark grey text color */
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    .publication-details {
        display: block;
    }

    .publication-image {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
        /* Space below the image */
    }

    .publication-text {
        width: 100%;
        padding-left: 0;
    }

    .publication-text p {
        padding-left: 0;
        /* Remove padding */
        text-align: justify;
        /* Justify text */
    }
}



/* Styles for Contact page */

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.contact-map {
    width: 600px;
    /* Adjust map width */
    margin-right: 20px;
    /* Add spacing between map and details */
}

.contact-map iframe {
    width: 100%;
    height: 450px;
    /* Adjust map height */
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.contact-details {
    width: 40%;
    /* Adjust details width */
}

.contact-details h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    margin-left: 30px;
}

.contact-details p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-left: 30px;
}

.social-media-links {
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.social-media-links li {
    display: inline-block;
}

.social-media-links li a {
    /* color: #E0E0E0; */
    /* Light grey links */
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media-links li a img {
    width: 40px;
    /* Adjust icon size */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-media-links li a img:hover {
    transform: scale(1.1);
    /* Scale up on hover */
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        /* Stack elements vertically */
        align-items: center;
        /* Center align items */
    }

    .contact-details {
        width: 100%;
        /* Full width for details */
        margin-bottom: 20px;
        /* Space below details */
    }

    .contact-map {
        width: 100%;
        /* Full width for map */
    }

    .contact-details h2,
    .contact-details p,
    .social-media-links {
        margin-left: 0;
        /* Remove left margin */
        text-align: center;
        /* Center align text */
    }
}



footer {
    background-color: #1C1C1C;
    /* Dark grey background */
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #E0E0E0;
    /* Light grey border */
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #E0E0E0;
    /* Light grey links */
    text-decoration: none;
}

footer ul li a:hover {
    color: #FFFFFF;
    /* White on hover */
}

/* Light mode styles */
body.light-mode footer {
    background-color: #F0F0F0;
    /* Light grey background */
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    /* Light grey border */
}

body.light-mode footer ul li a {
    color: #333333;
    /* Dark grey links */
}

body.light-mode footer ul li a:hover {
    color: #000000;
    /* Black on hover */
}

/* Gradient text color for changing text */
#typed-text {
    background: linear-gradient(45deg, #2196F3, #9C27B0, #F44336);
    /* Blue to purple to red */
    -webkit-background-clip: text;
    /* Apply gradient as text color */
    -webkit-text-fill-color: transparent;
    /* Make original text transparent */
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav {
        padding: 5px 0;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        font-size: 0.9em;
    }

    main {
        padding: 20px;
    }

    .block {
        width: 95%;
        margin: 10px 0;
    }
}