.projects_card_container {
    display: flex;
    padding: 1em;
    align-items:stretch;
    flex-wrap: nowrap;
    /* width: 100%; */
    width: inherit;
    color: white;
    background-color: black;
    border-radius: 30px;
}

.project_img {
    width: 60%;
    border-radius: 4%;
}

.project_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-left: 30px;
    justify-content: space-between;
    height: inherit;
}

@media screen and (max-width:800px) {
    .project_img {
        width: 100%;
    }

    .projects_card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
    }

    .project_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-left: 0;
        width: 96%;
        align-items: center;
    }
}